.publication {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.5px solid #cccccc;
}

.publication > .publication-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.publication > .publication-info > .maininfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.publication > .publication-info > .maininfo > .publication-title {
  font-size: 18px;
  font-weight: 650;
  margin-bottom: 6px;
 
}
.publication > .publication-info > .maininfo > .publication-title:hover{
  color: #3CB043;
}

.publication > .publication-info > .maininfo > .publication-authors {
  display: inline-block;
  text-align: left;
  /* font-style: italic; */
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 350;
}

.publication > .publication-info > .maininfo > .publication-authors > .authorholder > .highlight_author {
  font-weight: 500;
}

.publication > .awards {
  display: inline-block;
  text-align: left;
  margin-bottom: 8px;
}

.publication > .awards > .award {
  color: var(--theme-color);
  font-weight: 700;
  margin-right: 14px;
}

.publication > .publication-links {
  display: flex;
  margin-bottom: 20px;
}

.publication > .publication-links > a {
  margin-right: 10px;
}

.publication > .publication-links > a:hover {
  color: darkgray;
}

.publication > .publication-info > .publication-subinfo {
  display: inline-block;
  /* flex-direction: row;
  align-items: end; */
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
}

.publication > .publication-info > .publication-subinfo > .booktitle {
  /* font-weight: bold; */
  font-size: 20px;
  margin-right: 6px;
  font-weight: 500;
}
.publication > .publication-info > .publication-subinfo > .state {
  /* font-weight: bold; */
  font-size: 17px;
  /* margin-right: 6px; */
}

@media (min-width: 708px) {
  .publication > .publication-info {
    flex-direction: row;
  }
  .publication > .publication-info > .publication-subinfo {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 130px;
  }
  .publication > .publication-info > .publication-subinfo > .booktitle {
      margin-right: 0;
  }
}

@media (min-width: 1008px) {
  .publication > .info {
    flex-direction: row;
  }
  .publication > .publication-info > .publication-subinfo {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 130px;
  }
  .publication > .publication-info > .publication-subinfo > .booktitle {
      margin-right: 0;
  }
}
