.news{
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  font-size: 14px;
}

.news-date{
  font-weight: 600;
  padding-right: 13px;
}

.news-content{
  justify-content: flex-end;
  text-align: left;
}

